flask==2.3.2
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
Flask-Login==0.6.3
wtforms==3.1
email-validator==2.1.0.post1
sqlalchemy==2.0.25
gunicorn==21.2.0
matplotlib==3.7.2
numpy==1.25.1
scipy==1.11.1
werkzeug==3.0.1
psycopg2==2.9.9
